<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Enter Student record</h1>
<form action=""method="post">
    <input type="text" placeholder="Enter Name" name="name"><br>
    <input type="email" placeholder="Enter Email" email="email"><br>
    <input type="number" placeholder="Enter Phonenumber" Phonenumber="phonenumber"><br>
    <button>Submit</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Adm no.</th>
      <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">UPI NO.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark Otieno</td>
      <td>1032</td>
      <td>Male</td>
        <td>17</td>
        <td>fq2Y0k678</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob Kamau</td>
      <td>1033</td>
      <td>Male</td>
      <td>16</td>
      <td>L0pH673yTV</td>
    </tr>
     <tr>
      <th scope="row">3</th>
      <td>Jarad Kyalo</td>
      <td>1034</td>
      <td>Male</td>
      <td>15</td>
      <td>FtOP7T0pHV</td>
    </tr>
   <tr>
      <th scope="row">4</th>
      <td>Kamau Nderithu</td>
      <td>1035</td>
      <td>Male</td>
      <td>16</td>
      <td>KPb8bT65h76ceT</td>
    </tr>
   <tr>
      <th scope="row">5</th>
      <td>Flonila Nkujiri</td>
      <td>1036</td>
      <td>Female</td>
      <td>14</td>
      <td>kJ9B7g6D754</td>
    </tr>
   <tr>
      <th scope="row">6</th>
      <td>Violet Nyabuga</td>
      <td>1037</td>
      <td>Female</td>
      <td>17</td>
      <td>6JT896x0TV</td>
    </tr>
   <tr>
      <th scope="row">7</th>
      <td>sauna Maina</td>
      <td>1038</td>
      <td>Female</td>
      <td>16</td>
      <td>JP9V7fD7m6</td>
    </tr>
   <tr>
      <th scope="row">8</th>
      <td>Jacob Evangelist</td>
      <td>1039</td>
      <td>Male</td>
      <td>15</td>
      <td>hCb8O3fBJ48A</td>
    </tr>
  </tbody>
</table>
</body>
</html>